.button
{
	color:black;
	background:grey;
}
.lien
{
	border:none;
	text-decoration:none;
	background-color: grey;
}

#search
{
	padding: 5px;
	border-radius: 40px;
	width: 75px;
}
.cote
{
	text-align: right;
}
.pied
{
	text-align: bottom;
}
.image
{
	text-align: center;
}

